{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools %}
    <ul class="object-tools">
        {% block object-tools-items %}
            {% if show_create_button %}
            <li>
                <a href="create/?type=db" class="addlink">
                    {% trans "Create DB Backup" %}
                </a>
            </li>
            <li>
                <a href="create/?type=media" class="addlink">
                    {% trans "Create Media Backup" %}
                </a>
            </li>
            {% endif %}
            {{ block.super }}
        {% endblock %}
    </ul>
{% endblock %}
