{% load i18n %}
{% blocktrans %}Someone (hopefully you) requested a password reset for your account at {{ site_name }}.{% endblocktrans %}

{% blocktrans %}If this wasn't you, please ignore this email and your password will remain unchanged.{% endblocktrans %}

{% blocktrans %}Please click the link below to set a new password:{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}This link will expire in 24 hours.{% endblocktrans %}

{% trans "GWZ Team" %}
